html
    box-sizing: border-box
    *, *::before, *::after
        box-sizing: inherit
body
    font-family: 'Fira Sans', sans-serif
    font-weight: 400
    font-size: 16px
    background-color: $background
    color: $text-color
    text-transform: uppercase
a
    display: inline-block
    text-decoration: none
    color: $text-color
ul
    list-style: none
    margin: 0
    padding: 0
li
    margin: 0
    padding: 0
.container
    max-width: 1920px
    margin: 0 auto

.title
    span
        font-size: 200px
        color: rgba($text-color, .02 )
        font-weight: 800
        position: relative
        transform: translateX(-50px)
        display: inline-block
    h3
        position: absolute
        top: 0
        right: -5px
        margin: 0
        color: $text-color
        font-size: 80px
        &::after
           content: ''
           position: absolute
           top: 0
           right: 0
           width: 80px
           height: 1px
           background-color: $main-color

.subtitle
    display: inline-block
    text-align: right
    &__head
        font-size: 40px
        ont-weight: 800
        padding-right: 10px
        span
            font-weight: 100

.description
    display: inline-block
    text-align: left
    padding-left: 135px
    &__head
        display: flex
        align-items: center
        font-size: 40px
        font-weight: 800


.btn
    font-size: 40px
    line-height: 36px
    font-weight: 800
    span
        background-color: $main-color
        padding: 17px 57px 15px 17px
        display: inline-block
        margin-left: 20px
        position: relative
        &::before
            content: ''
            position: absolute
            width: 20px
            height: 1px
            background-color: $text-color
            top: 50%
            left: -10px
        &::after
            content: ''
            position: absolute
            width: 25px
            height: 21px
            background-image: url(../img/arrow-right.svg)
            top: 50%
            right: 17px
            transform: translateY(-50%)

.headline-left
    font-size: 22px
    line-height: 32px
    letter-spacing: 7.33333px
    color: $text-color
    opacity: 0.5
    padding-left: 103px
    position: relative
    display: inline-block
    &::before 
        content: ""
        position: absolute
        width: 80px
        height: 1px
        background-color: $text-color
        left: 0
        top: 50%

.headline-right
    font-size: 22px
    line-height: 32px
    letter-spacing: 7.33333px
    color: $text-color
    opacity: 0.5
    position: relative
    display: inline-block
    padding-bottom: 10px
    &::before 
        content: ""
        position: absolute
        width: 80px
        height: 1px
        background-color: $text-color
        right: -96px
        top: 15px
.surf
    padding: 160px 0 120px
.holder
     padding-bottom: 250px
.sleep
    padding: 130px 0 120px
.shop
    padding: 160px 0 120px


.quantity 
    display: inline-block


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0


input[type=number]
    -moz-appearance: textfield


.quantity input 
    width: 45px
    height: 35px
    display: block
    border: none
    background-color: transparent
    font-size: 40px
    line-height: 36px
    font-weight: 800
    color: $text-color

.quantity input:focus 
    outline: 0


.quantity-nav 
    float: left
    position: static
    height: 42px


.quantity-button 
    position: relative
    cursor: pointer
    width: 20px
    height: 20px
    display: flex
    justify-content: center
    align-items: center
    top: 55px


.quantity-button.quantity-up 
    position: absolute
    top: 55px
    right: 0


.quantity-button.quantity-down 
    position: absolute
    bottom: -1px
    right: 30px

